@font-face {
    font-family: "trebuc";
    src: url("../fonts/trebuc.ttf");
    unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: "maple-bold";
    src: url("../fonts/MaplestoryFont_TTF/Maplestory_Bold.ttf");
}

@font-face {
    font-family: "maple-light";
    src: url("../fonts/MaplestoryFont_TTF/Maplestory_Light.ttf");
}

@font-face {
    font-family: "noto-sans-kr";
    src: url("../fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf");
}

@font-face {
    font-family: "dovemayo";
    src: url("../fonts/Dovemayo_gothic.ttf");
}



::-moz-selection {
    /*mozilla*/
    background: rgb(185, 220, 248);
}

::selection {
    background: rgb(185, 220, 248);
    /* color: #fff; */
}

/********** Template CSS **********/
:root {
    --primary: #000000dc;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #000000;

}

.main-logo, .main-logo-desc {
    font-family: 'maple-light'
}

.navbar-bg {
    background-color: #27293f;
}

body {
    width: 100vw;
    height: 100vh;
    font-family:
        /* 'dovemayo'; */
    'trebuc';
    /* 'noto-sans-kr'; */
    color: black;
    width: 100%;
}

.fill-thick-icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' -50,
        'opsz' 20
        ;
    
}

.icon-gray {
    color: #bebebe;
}

.icon-darkgray {
    color: #818181;
}


.page-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
    flex: 1;
}