/*** Navbar ***/

.navbar-top {
    font-family: 'maple-bold';
    height: 45px;
}

.navbar-light .navbar-nav .nav-link {

    position: relative;
    margin-right: 25px;
    padding: 10px 0;
    color: #FFFFFF !important;
    /* color: #eb5151 !important; */
    font-family: 'maple-light';
    font-size: 15px;
    font-weight: 400;
    outline: none;
    /** animation delay **/
    transition: .5s; 
    /* left: 100px; */
}

/* .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
} */

/* hover active action */
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
}


.navbar-light .navbar-nav .nav-link.active::before,
.navbar-light .navbar-nav .nav-link:hover::before {
    width: calc(100% - 2px);
    left: 1px;
}

/* what? */
/* .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
} */

.navbar-light {
    /* absolute property can bottom image to background */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* menu bottom line */
    /* border-bottom: 1px solid rgba(256, 256, 256, .1); */
    z-index: 999;
}



/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, 0.877), rgba(20, 20, 31, 0.877)), url(../static/img/wallpaper/arcana/arcanadesktop_1920x1200.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

