.char-basic {
    position: relative; 
    margin-top: 20px;
}

.char-fold-btn-wrapper {
    margin-top : 10px;
}

.char-fold-btn {
    padding-top:8px;
}

.char-fold-btn-img {
    padding-bottom: 2px;
}

.card-header {
    background: white;
}