.char-basic {
    padding-top: 40px;
    padding-bottom: 40px;
}

.char-name {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.char-class {
    color: #4d4d4d;
    font-size: 12px;
}

.char-world,
.char-level,
.char-guild {
    font-size: 12px;
    padding-top: 8px;
}

.char-img {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 10px;
}

.char-world-img, .char-guild-img {
    padding-bottom: 4px;
}

/* placeholder */
.char-name-ph {

    padding-left: 100px;
    margin-left: 10px;
}

.char-class-ph {
    margin-top: 20px;
    padding-left: 80px;
    margin-left: 10px;

}

.char-world-ph,
.char-level-ph,
.char-guild-ph {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 40px;
}



.char-name-fold {
    font-size: 20px;
    padding-left: 30px;
    font-weight: bold;
}

.char-class-fold,
.char-world-fold,
.char-world-name-fold,
.char-level-fold,
.char-guild-fold {
    color: #4d4d4d;
    padding-top: 4px;
}

.char-menu {
    font-size: 14px;
}

