/** 기본적으로 table cell 테두리는 설정해놓고 필요에 따라 테두리가 없어져야 되는 블록들은 내부에서 borderBottom: 'none' 등으로 적용*/
.table-cell{
    width: 25px;
    height: 25px;
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
    border-left: 1px solid black;
    /* border-right: 1px solid black; */
}

.table {
    border: 4px solid black;
}